/*
This file is based on:
  SHJS - Syntax Highlighting in JavaScript
  Copyright (C) 2007, 2008 gnombat@users.sourceforge.net

Copyright (C) 2018-2019 Aaron Erhardt

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

 {
   background-color: white;
   color: black;
   font-style: normal;
   font-weight: normal;
 }

 .sh_keyword {
   color: #728e00;
 }

 .sh_arduino_keyword {
   color: #d35400;
 }

 /* language keywords */
 .sh_type {
   color: #00979d;
 }

 /* basic types */
 .sh_usertype {
   color: #00979d;
 }

 /* user defined types */
 .sh_string {
   color: #005c5f;
 }

 /* strings and chars */
 .sh_regexp {
   color: orange;
 }

 /* regular expressions */
 .sh_specialchar {
   color: pink;
 }

 /* e.g., \n, \t, \\ */
 .sh_single_line_comment, .sh_multi_line_comment {
   color: rgba(78,91,97,.8);
 }

 /* comments */
 .sh_number {
   color: #8a7b52;
 }

 /* literal numbers */
 .sh_preproc {
   color: #728e00;
 }

 /* e.g., #include, import */
.sh_operator {
  color: #728e00;
}

 .sh_symbol {
   color: #333;
 }

 /* e.g., <, >, + */
 .sh_function {
   color: black;
 }

 /* function calls and declarations */
 .sh_cbracket {
   color: black;
 }

 /* block brackets (e.g., {, }) */
 .sh_todo {
   font-weight: bold;
 }

 /* TODO and FIXME */
 /* Predefined variables and functions (for instance glsl) */
 .sh_predef_var {
   color: darkblue;
 }

 .sh_predef_func {
   color: darkblue;
 }

 /* for OOP */
 .sh_classname {
   color: teal;
 }

 /* line numbers (not yet implemented) */
 .sh_linenum {
   color: black;
 }

 /* Internet related */
 .sh_url {
   color: blue;
   text-decoration: underline;
 }

 /* for ChangeLog and Log files */
 .sh_date {
   color: blue;
   font-weight: bold;
 }

 .sh_time, .sh_file {
   color: darkblue;
 }

 .sh_ip, .sh_name {
   color: darkgreen;
 }

 /* for Prolog, Perl... */
 .sh_variable {
   color: darkgreen;
 }

 /* for LaTeX */
 .sh_italics {
   color: darkgreen;
 }

 .sh_bold {
   color: darkgreen;
   font-weight: bold;
 }

 .sh_underline {
   color: darkgreen;
   text-decoration: underline;
 }

 .sh_fixed {
   color: green;
 }

 .sh_argument {
   color: darkgreen;
 }

 .sh_optionalargument {
   color: purple;
 }

 .sh_math {
   color: orange;
 }

 .sh_bibtex {
   color: blue;
 }

 /* for diffs */
 .sh_oldfile {
   color: orange;
 }

 .sh_newfile {
   color: darkgreen;
 }

 .sh_difflines {
   color: blue;
 }

 /* for css */
 .sh_selector {
   color: purple;
 }

 .sh_property {
   color: blue;
 }

 .sh_value {
   color: darkgreen;
 }

 /* other */
 .sh_section {
   color: black;
 }

 .sh_paren {
   color: red;
 }

 .sh_attribute {
   color: darkgreen;
 }
