/*
Copyright (C) 2018 Aaron Erhardt

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

@font-face {
  font-family: 'openSans';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/openSansRegular.woff) format('woff');
}
@font-face {
  font-family: 'openSans';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/openSansSemibold.woff) format('woff');
}
@font-face {
  font-family: 'ubuntuMono';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ubuntuMono.woff2) format('woff2');
}
