/*
Copyright (C) 2018-2019 Aaron Erhardt

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

[draggable=true] {
    cursor: grab;
}

#LML {
  display: none;
}

#startPoint {}

body {
  font-family: dejaVuSans;
  margin: 0 0 0 0;
}

.lml-code {
  font-family: ubuntuMono;
  font-size: 16px;
  background-color: white;
  margin: 0 0 0 0;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.lml-heading, .lml-h {
  font-weight: bold;
  font-size: 20px;
  background-color: #9F9;
}

.lml-lesson {
  border-style: solid;
  border-width: 2px 0 2px 0;
  border-color: red;
}

.lml-lml {
  /*width: 80vw;
  margin: 0 10vw 0 10vw;*/
  border-style: solid;
  border-width: 2px 0 2px 0;
  border-color: black;
}

.lml-string {
  margin: 0 0 0 0;
}

.lml-quiz {
  border-style: solid;
  border-width: 2px 0 2px 0;
  border-color: green;
}

.lml-paragraph, .lml-p {
  font-size: 16px;
  background-color: #99F;
  white-space: pre-wrap;
}

.lml-input {/*
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 0.5vw solid #737373;
  margin: 0 0 0 0;
  transition: 0.5s all linear;
  outline: none;
  display: inline-block;
  background-color: white;
}

.lml-input:checked {
  border-color: #546e7a;
  background: radial-gradient(#546e7a 46%, white 47%);*/
}

.lml-box .lml-string {
  position: relative;
  display: inline-block;
  color: #202020;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  word-wrap: normal;
  font-size: 16px;
}

.lml-box {
  position: relative;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3);
  border: 2px solid #5F5;
}

.lml-option {
  background-color: #fafafa;
  border-bottom: 2px solid #dcdcdc;
}

.lml-draged>.lml-string {
  opacity: .5;
}

.lml-dragover>.lml-string {
  margin: 10px 0 0 0;
}

.lml-image {
  width: 40%;
}

.lml-course-name {
  font-weight: bold;
}

.lml-chapter-name {
  font-weight: bold;
}

/*.lml-showSpaces {
  white-space: pre;
}*/
