/*
Copyright (C) 2018-2019 Aaron Erhardt

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

:root {
  --lml-text: #171918;
  --lml-darkGreen: #319636;
  --lml-green: #96e072;
  --lml-darkBlue: #114b5f;
  --lml-linkBlue: #003b4f;
  --lml-red: #d33f49;
}

[draggable="true"] {
  cursor: grab;
}

#LML {
  display: none;
}
/*@media (min-width: 30rem) {
}
@media only screen and (min-width: 30rem) {
}
@media (min-width: 40rem) {
}
@media (min-width: 50rem) {
}
@media (min-width: 64rem) {
}
@media only screen and (min-width: 64rem) {
}
@media screen and (min-width: 70.75rem) {
}
@media screen and (min-width: 73.75rem) {
}
@media only screen and (min-width: 73.75rem) {
}
@media only screen and (min-width: 87.5rem) {
}

@media (min-width: 110rem) {
}
@media (max-width: 30rem) {
}*/

body {
  font-family: openSans;

  margin: 0;
}

/* --- OVERVIEW --- */
.lml-overview {
  font-size: 1.125rem;
  line-height: 1.5;

  width: 90vw;
  margin: auto;
  padding: 0.5rem 0 0.5rem 0;

  color: var(--lml-text);
  background-color: #fff;
}

.lml-course-name {
  font-size: 1.2em;
  font-weight: bold;
}

.lml-course-description {
  margin: 0;
  padding: 0 0 0.8rem 0;

  color: var(--lml-darkGreen);
}

.lml-chapter-name {
  font-size: 1.1em;
  font-weight: bold;
}

.lml-chapter {
  padding-left: 0.35rem;

  cursor: pointer;
  transition: box-shadow 0.4s ease;
  transition: border 0.3s ease-out, padding 0.3s ease-out;

  border-left: 0.2rem solid var(--lml-darkBlue);
  background: #fff;
}

.lml-chapter:hover {
  padding-left: 0.7rem;

  border-left: 0.2rem solid var(--lml-green);
}

.lml-chapter-description {
  margin: 0;
  padding: 0.4rem 0 0.3rem 0;
}
/* --- LML --- */
.lml-lml {
  font-size: 1.125rem;

  width: 90vw;
  margin: auto;
  padding: 0.5rem 0 0.5rem 0;

  color: var(--lml-text);
  background-color: #fff;
}

.lml-lml * {
  transition: opacity 0.2s ease;
}

@media (min-width: 87.5rem) {
  .lml-overview {
    width: 87.5rem;
  }
  .lml-lml {
    width: 87.5rem;
  }
}

.lml-code {
  font-family: ubuntuMono;
  font-size: 1em;

  margin: 0 0 0.3rem 0.1rem;
  padding: 0.07rem 0 0.15rem 0.5rem;

  white-space: pre-wrap;

  border-left: 0.2rem solid var(--lml-darkGreen);
  background-color: #f8f8f8;
}

.lml-command {
  font-family: ubuntuMono;
  font-size: 1em;

  padding: 0.15em 0.35em 0.15em 0.35em;

  white-space: nowrap;

  color: #fff;
  border-radius: 0.2em;
  background: var(--lml-text);
}

.lml-link {
  font-weight: 600;

  color: var(--lml-linkBlue);
}

.lml-link:visited span {
  color: var(--lml-darkBlue);
}

.lml-b {
  font-weight: bold;
}

.lml-i {
  font-style: italic;
}

.lml-u {
  text-decoration: underline;
}

.lml-m {
  font-family: ubuntuMono;
  font-size: 1.1em;
}

.lml-code .lml-string {
  line-height: 1.15;

  margin: 0;
}

.lml-h1 {
  font-size: 1.3em;
  font-weight: bold;

  margin-bottom: 0.5rem;
}

.lml-h2 {
  font-size: 1.2em;
  font-weight: bold;

  margin-bottom: 0.4rem;
}

.lml-h3 {
  font-size: 1.1em;
  font-weight: bold;

  margin-bottom: 0.3rem;
}

.lml-br {
  margin-bottom: 0.2rem;
}

.lml-p {
  line-height: 1.5;

  margin: 0 0 0.4rem 0;

  text-align: justify;
  hyphens: auto;
}

.lml-seperator {
  width: 100%;
  height: 0.15rem;
  margin: 1rem 0 0.9rem 0;

  background: var(--lml-green);
}

.lml-select {
  position: relative;

  display: inline-flex;

  width: 0.8rem;
  min-width: 0.8rem;
  height: 0.8rem;
  margin: auto 0.7rem;

  transition: background-position 0.3s ease-out;
  vertical-align: top;

  border: 0.15rem solid var(--lml-darkBlue);
  border-radius: 0.1rem;
  background-image: linear-gradient(135deg, var(--lml-darkBlue) 66%, #fff 67%);
  background-position: 0.8rem 0.8rem;
  background-size: 2.4rem 2.4rem;
}

.lml-select.active {
  background-position: 1.8rem 1.8rem;
}

.lml-option .lml-string {
  font-size: 1em;

  position: relative;

  display: inline-flex;

  max-width: 85rem;
  margin: 0.35rem 0;

  white-space: pre-wrap;
  word-wrap: normal;
}

.lml-lesson,
.lml-quiz {
  position: relative;

  height: auto;
  margin: 0 0 0.2rem;
  padding: 0.2rem 0 0.2rem 0;

  transition: height 4s ease;
}

.lml-buttons {
  padding-bottom: 3.3rem;
}

.lml-box {
  position: relative;

  margin: 0.2rem 0 0.4rem;

  transition: box-shadow 0.3s ease;

  box-shadow: 0 0 0 0 white;
}

.lml-option {
  display: flex;

  background: #fff;
  box-shadow: 0 0 3px -1px var(--lml-darkBlue);
}

.lml-text > span {
  font-family: ubuntuMono;
  font-size: 1.1em;
}

.lml-input {
  font-family: ubuntuMono;
  font-size: 1.1em;
  line-height: 1.5;

  margin: 0;
  padding: 0;

  letter-spacing: 0;
  /*width: 9.1ex;*/

  color: #000;
  border-width: 0 1px 0 0;
  border-image-source: linear-gradient(90deg, #114b5f, #114b5f);
  border-image-slice: 1;
  border-image-width: 0 0 1px 0;
  border-image-outset: 0;
  background: #fff;
}

.input:focus {
  border-image-width: 0 0 2px 0;
  border-image-outset: 0;
  outline: none;
}

.lml-option-num {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;

  position: relative;

  display: inline-flex;

  margin: 0.35rem 0.45rem;
}

.lml-dragged {
  color: #fff;
  background: var(--lml-darkBlue);
}

.lml-submit,
.lml-back,
.lml-skip {
  font-size: 1em;

  position: relative;

  display: block;

  margin: 0.5rem 0 0;
  padding: 0.3rem 0.5rem 0.35rem 0.5rem;

  transition: opacity 0.2s ease-out;
  text-align: center;

  color: #fff;
  border-radius: 0.2rem;
}

.lml-submit {
  float: right;

  background: var(--lml-darkBlue);
}

.lml-back {
  float: left;

  background: var(--lml-red);
}

.lml-skip {
  float: right;

  margin-right: 0.6rem;

  background: var(--lml-red);
}

.lml-image {
  width: 40rem;
}

.lml-minified * {
  opacity: 0;
}

.lml-minified {
  position: relative;

  overflow: hidden;

  height: 2rem;
  margin: 0;
  padding: 0;
}

.lml-minified::before {
  position: absolute;
  top: 0.33rem;
  left: 0.15rem;

  width: 0.5rem;
  height: 0.7rem;

  content: "";
  transform: skewX(30deg);

  background: var(--lml-green);
}

.lml-minified::after {
  position: absolute;
  top: 1rem;
  left: 0.15rem;

  width: 0.5rem;
  height: 0.7rem;

  content: "";
  transform: skewX(-30deg);

  background: var(--lml-green);
}
/*.lml-showSpaces {
  white-space: pre;
}*/
